<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">View User</li>
    </ol>
</nav>

<div class="viewuser p-5">
    <table class="table table-bordered border border-3 border-primary table-dark table-hover font-monospace">
        <thead class="table table-bordered border border-3 border-primary table-dark">
            <tr class="text-center">
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Phone</th>
                <th scope="col">Comments</th>
            </tr>
        </thead>
        <tbody class="text-success">
            {{#each rows}}
            <tr class="text-center">
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.comments}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>